<div class="container text-center">
  <h1>Article</h1>
  <div class="article-form-wrapper">
    <h4><%= @article.title %></h4>
    <p><%= @article.text %></p>

    <%= render 'comments/comment' %>
    <%= render 'comments/comment_form' %>
  </div>
</div>
