<div class="banner-wrapper">
  <div class="banner-head">
    <div class="container ">
      <div class="max-width-content"><h1>Welcome To Aymerics Blog</h1>
        <p>Follow us true our travell's around the world.</p>
        <% if !user_signed_in? %>
        <%= link_to "S'inscrire", new_user_registration_path, class: 'btn btn-primary btn-banner'  %></div>
        <% end %>
    </div>
  </div>
</div>


